#Todo{
    width: 1184px;
    height: auto;
    top: 95px;
    left: 48px;
    gap: 0px;
    opacity: 0px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

.ConteinerIcon{
    width: 590px;
    height: 569px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px; 
    margin: 2vw 0vw 0vw 2vw;   
    background-color: #94A3B8;    
}

.ContainerText{
    width: 562px;
    height: 592px;
    left: 622px;
    margin: 0vw 0vw 60vw 40vw;   
}

.Title{
    color: white;
    font-family: Ubuntu;
    font-size: 35px;
    font-weight: 700;
    line-height: 40.22px;
    text-align: left;
    width: 564px;
    height: 80px;   
}

.IconBR{
    width: 71px;
    height: 49px;
    top: 129px;
    gap: 0px;
    opacity: 0px;
    margin-right: 31.8vw;   
    cursor: zoom-in; 
    transition: ease 0.3;
}

.IconBR:active{
    transform: scale(8);
    cursor: zoom-out;
}

#Descricao{
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 500;
    line-height: 16.09px;
    text-align: left;
    width: 64px;
    height: 16px;
    top: 242px;     
}

#InformD{
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    line-height: 18.38px;
    text-align: left;
    width: 562px;
    height: 72px;
    top: 274px;      
}
span{
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.38px;
    text-align: left;
    width: 538px;
    height: 18px;
    top: 442px;
    left: 24px;  
}
h2{
    margin-bottom: 1vw;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 500;
    line-height: 16.09px;
    text-align: left;
}